<header>
  <h2><a href="#">Dooboo Lab</a></h2>
  <nav>
    <li><a href="#hero">메인</a></li>
    <li><a href="#product">제품</a></li>
    <li><a href="#company">회사 소개</a></li>
    <li><a href="#member">구성원</a></li>
    <li><a href="#contact">연락하기</a></li>
  </nav>
</header>

<section class="hero">
  <div class="background-image" style="background-image: url(img/hero.jpg);"></div>
  <h1>Dooboo Lab</h1>
  <h3>유연한 혁신. 두부랩에서 시작합니다.</h3>
</section>

<section id="product">
  <h3 class="title">제품</h3>
  <p>두부랩에서 제작한 어플리케이션입니다.<br>플랫폼을 선택하면 바로 해당하는 앱스토어로 이동합니다.</p>
  <hr>

  <ul class="grid">
    <li class="small" style="background-image: url(img/coast.jpg);"></li>
    <li class="small" style="background-image: url(img/island.jpg);"></li>
    <li class="small" style="background-image: url(img/island.jpg);"></li>
    <li class="small" style="background-image: url(img/balloon.jpg);"></li>
    <li class="large" style="background-image: url(img/mountain.jpg);"></li>
  </ul>
</section>

<section id="company">
  <h3 class="title">회사 소개</h3>
  <p>두부랩은 세상이 필요로 하는 시장에서 아직 활성화가 잘 되어있지 않은 어플리케이션을 발굴하고 상품화하는데 목적을 두고 있습니다. 하나의 서비스에 국한되서 개발을 하는 것이 아닌 지속적으로 새로운 개발업무를 찾아서 시장에 내놓을 것입니다.</p>
  <hr>
  <ul class="grid">
    <li>
      <i class="fa fa-mobile-phone"></i>
      <h4>모바일 앱 개발</h4>
      <p>현재 android와 ios를 주력으로 타게팅 하고 있습니다.</p>
    </li>
    <li>
      <i class="fa fa-server"></i>
      <h4>웹/서버 개발</h4>
      <p>모바일 앱 서비스를 주력으로 다루고 있지만 필요에 따라서 웹과 서버를 업무도 수행하고 있습니다.</p>
    </li>
    <li>
      <i class="fa fa-paint-brush"></i>
      <h4>디자인</h4>
      <p>좋은 디자인. 화려하지는 않지만 올바른 디자인 업무에 충실하고 있습니다.</p>
    </li>
  </ul>
</section>

<section id="member">
  <h3 class="title">구성원</h3>

  <p class="quote">CEO and Product Manager</p>
  <p class="author">- 장효찬</p>

  <p class="quote">Chief Consultant</p>
  <p class="author">- 구억</p>

  <p class="quote">Chief Marketer</p>
  <p class="author">- 정진화</p>
</section>

<section id="contact">
  <h3 class="title">연락하기</h3>  
  <p>회사에 관심이 있으시면 언제든지 편하게 연락주세요.</p>
  <hr>
  <form>
    <input #email name="email" type="email" placeholder="이메일 주소" [ngModel]="emailFilter" (ngModelChange)="filterEmail($event)"/>
    <button class="btn" [disabled]="!isValidEmail" (click)="leftEmail(email.value)">메일주소 남기기</button>
  </form>
</section>

<footer>
  <ul>
    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square"></i></a></li>
  </ul>
  <p>All rights reserved by <a href="https://dooboolab.com/" target="_blank">dooboolab.com</a></p>
</footer>